IMAGE_TAG=local
ENV_SENSOR_INFLUX_TOKEN=local-placeholder-token
ENV_SENSOR_DEVICE_USER=local-placeholder-user
ENV_SENSOR_DEVICE_PASS=local-placeholder-password
VOLT_INFLUXDB_TOKEN=local-placeholder-token
KASA_USERNAME=local-placeholder-user
KASA_PASSWORD=local-placeholder-password
VOLT_EVENT_INFLUX_TOKEN=local-placeholder-token
